### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
out/

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env

### Build ###
*.class
*.jar
*.war
*.ear

### Node ###
node_modules/

### VS Code ###
.vscode/

### Secrets ###
application-local.properties
application-prod.properties